
// website Themes color
$yellowTheme : '[data-default-color="yellow"]';
$blueTheme   : '[data-default-color="blue"]';
$orangeTheme : '[data-default-color="orange"]';

$yellowThemeColor : #F1C40F;
$blueThemeColor   : #2196F3;
$orangeThemeColor : #ee6817;

$languageCharts: ".chartOrange, .chartYellow, .chartBlue";

$main-color: #F1C40F;

$mobileS : "screen and (max-width: 320px)";
$mobileM : "screen and (max-width: 375px)";
$mobileL : "screen and (max-width: 455px)";
$tablet : "screen and (max-width: 767px)";
$labtop : "screen and (max-width: 1024px)";
$computer : "screen and (max-width: 1025px)";


$blue: #00ADB5;
$black: #252A34;
$red: #F38181;
$white: #e0e0e0;
$darkBlue: #2B2E4A;
$orange: #E84545;
$darkRed: #903749;
$brown: #53354A;
$green: #7dba5c;
