// Sass Comment
// CSS comment

body {
  font-family: 'Arvo', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Old Standard TT', serif;
  color: white;
  font-size: 17px;
  text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black, -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black, 0.05em 0.05em black;
}
// @media screen and (max-width:767px) {
//   .skills {
//     height: auto !important;
//   }
// }
