// Sass Comment
/* CSS comment */
body {
  min-height: 600px;
  font-family: 'Merriweather', serif;
  font-size: 17px;
}

.header {
  background: url("../images/Background.jpeg");
  height: 600px;

  .nav-bar {
    margin-top: 8rem;

    .navbar-nav a {
      color: #000;
      margin: 1px;
      border-bottom: 2px solid transparent;

      &:active,
      &:hover {
        color: #6EBFAB;
        border-bottom: 2px solid #6EBFAB;
      }
    }
  }
}
