footer {
  ul {
    margin-top: 2rem;
    text-align: start;

  }
  .number2 li {
    margin-top: 13px;
    cursor: pointer;
    text-align: center;
  }
  h3, h4{
    margin-top: 2rem;
  }
  .contant li {
    margin: 0px 15px;
    display: inline-block;
    a {
      color:#efefef;
    }
  }
  .contant {
    margin-top: 2rem;
    text-align: center;
  }
}
.copyR {
  background-color:#eee;
  p {
    color:#000;
  }
}
