h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  text-align: center;
}
.menu {
  position: fixed;
  width: 35px;
  height: auto;
  background: #ffffff4a;
  z-index: 9999;
  line-height: 1;
  border-radius: 0px 4px 4px 0px;
  left: -35px;
  top: 40%;

  .number1 {
    padding:0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    [data-color="green"] {
      background-color:#3D9970;
    }
    [data-color="orange"] {
      background-color:#ee6817;
    }
    [data-color="yellow"] {
      background-color:#ffdc00;
    }
    [data-color="blue"] {
      background-color:#2196F3;
    }
  }
}

.themes {
  position: absolute;
  left: 35px;
  text-indent: 0px;
  text-orientation: upright;
  writing-mode: vertical-lr;
  top: 13%;
  background: #1d1a1a;
  padding: 3px 2px;
  border-radius: 0px 5px 5px 0;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;

}
.change-colors.number1 li {
  width: 25px;
  height: 25px;
  margin: 8px 5px;
  cursor: pointer;
}


.home {
  margin: 445px 0 0;
  position: absolute;
  z-index: 2;

  h2 {
    border: none;
    color: $white;
    text-transform: uppercase;
    line-height: 50px;
    padding-bottom: 0;
    font-size: 38px;
    margin-bottom: 20px;
  }

  h4 {
    border-bottom: 1px solid #7dba5c;
    border-top: 1px solid #7dba5c;
    color: #7dba5c;
    padding: 15px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 13px;
  }

  h3 {
    text-transform: uppercase;
    color: $white;
    font-size: 38px;
    font-weight: 300;
  }
}
@media screen and (max-width:425px) {
  .home {
    bottom: 0px;

    h2,
    h3 {
      font-size: 33px;
    }

    h4 {
      font-size: 12px;
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }
}
@media screen and (max-width:991px) {
  .side-bar, h4 {
    margin-left: auto !important;
    margin-right: auto !important;
    z-index: 2;
  }
  h4 {
    width: fit-content;
    width: -moz-fit-content;
    font-size: 15px !important;
  }
}
