@mixin backImage($image) {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url($image);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 654px;
}
@mixin image($image, $height:1340px) {
  background: url($image);
  background-position: center center;
  min-height: $height
}
@mixin transition($time:0.5s) {
  -webkit-transition: ease $time;
  -moz-transition: ease $time;
  -ms-transition: ease $time;
  -o-transition: ease $time;
  transition: ease $time;
}
