@mixin backImage($image, $height:100vh,$filter:100%) {
  background: url($image);
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
  height: $height;
  filter: brightness($filter);
}
@mixin image($image, $height:100vh) {
  background: url($image);
  background-position: center center;
  height: $height;
}

@mixin transition($time:0.5s) {
  -webkit-transition: ease $time;
  -moz-transition: ease $time;
  -ms-transition: ease $time;
  -o-transition: ease $time;
  transition: ease $time;
}
