.navbar {
  font-family: 'Merriweather', serif;
  font-size: 1.2rem;
  background-color: rgba(0,0,0,0.7)!important;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
  min-height:46px;
  .navbar-nav a {
    color: $white!important;
    padding: 0;
    text-align: center;
    @include transition(0.35s);
    min-width: 140px;
    line-height: 65px;
    position: relative;
    overflow: hidden;
    border-radius: 0;

    &:hover {
      color: $main-color!important;
    }

    span:first-child {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 0;
      display: block;
      z-index: 1;
    }
    span:last-child {
      position: relative;
      z-index: 444;
      margin-bottom: 3px;
      &:after {
        content: '';
        display: block;
        margin: auto;
        height: 2px;
        width: 0;
        background: transparent;
        @include transition(0.35s);
        z-index: 444;
      }
    }
  }

  .navbar-brand {
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    margin-right: 0;
    cursor: default;
    color: $main-color!important;
    padding: 0 15px;
    line-height: 69px;
  }
  .navbar-toggler {
    margin: 4px;
  }
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background:rgba(0, 0, 0, 0.8);
  border-radius: 0;
}
