
.Projects {
  min-height: auto!important;

  .card {
    margin-bottom: 0;
    border: 0;
    a {
      color:#fff;
    }
    .text-muted {
      color: #fff!important;
    }
    .card-img {
      border-radius: 0;
    }
    &::before,
    &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(1, 1, 1);
    transition: transform 0.3s ease-out 0s;
    background: rgba(0, 0, 0, 0.64);
    content: '';
    pointer-events: none;
  }

  &::before {
    transform-origin: left top;
  }

  &::after {
    transform-origin: right bottom;
  }

  &:hover,
  &:focus {
    &::before,
    &::after {
      transform: scale3d(0, 0, 1);
    }
  }
  }
}
@media screen and (max-width:768px) {
  .Projects h3 {
    font-size: 1.35rem;;
  }
}
