.skills {
    height: auto!important;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    text-align: center;
  }
  h3 {
    margin-top: 1.5rem;
    margin-bottom: -25px;
  }
  h1 {
    text-transform: uppercase;
    font-size: 35px;
    color: #e0e0e0;
    line-height: 89px;
    margin: 0;
  }

  .chartGreen, .chartOrange, .chartYellow, .chartBlue   {
    height: 95px;
    margin-top: 10px;
    span {
      font-size: 1.5em;
      font-weight: normal;
      position: absolute;
      top: 85px;
      left: 120px;
    }

    .twoN {
      left: 112px;
    }
  }

  .language {
    padding-top: 56px;
  }

  .card {
    background: $black;
    top: 0;
    cursor: pointer;
    @include transition;

    &:hover {
      box-shadow: 0 4px 8px 0 rgba(255,255,255,0.2),0 6px 20px 0 rgba(255,255,255,0.2);
      top: -5px;
    }
    .modal {
      padding-right: 0;
      z-index: 9999;
      cursor: auto;
      background-color: rgba(42, 48, 48, 0.7);
      .modal-header {
        border-bottom: 1px solid #64696e;
        .close {
          color: #e9e1e1;
          text-shadow: 0 1px 0 #020101;
          opacity: 1;
          &:hover {
            color: #fff;
            text-decoration: none;
            opacity: .75;
          }
        }
      }
      .modal-body {
        padding: .6rem;
      }
      .modal-footer {
      border-top: 1px solid #64696e;
      }
    }
    h5 {
      margin: 15px 0 5px;
    }

    .card-body {
      padding: 1.25rem 1.25rem 0;
    }

    a {
      text-decoration: none;
      color: $main-color;
    }
  }

  .progress {
    margin-bottom: 10px;
    background: rgba(255,255,255,0.3);
  }
  .progress-bar {
    background: $main-color;
  }
}






#chartRadarGreen, #chartRadarOrange, #chartRadarYellow, #chartRadarBlue, .chartGreen, .chartOrange, .chartYellow, .chartBlue  {
  display: none !important;
}
@media screen and (max-width:1200px) {
  .chartGreen, .chartOrange, .chartYellow, .chartBlue   {
    span {
      left: 47% !important;
    }

    .twoN {
      left: 44% !important;
    }
  }
}
@media screen and (max-width:1199px) {
  .card-deck {
    margin-bottom: 19px;
  }

  .chartGreen, .chartOrange, .chartYellow, .chartBlue   {
    span {
      left: 46.5% !important;
    }

    .twoN {
      left: 42.5% !important;
    }
  }
}
@media screen and (max-width:767px) {
  .chartGreen, .chartOrange, .chartYellow, .chartBlue   {
    span {
      left: 48.7% !important;
    }

    .twoN {
      left: 47.1% !important;
    }
  }
  .language {
    h3 {
      display: none;
    }
  }
}
@media screen and (max-width:576px) {
  .chartGreen, .chartOrange, .chartYellow, .chartBlue   {
    span {
      left: 48.6% !important;
    }

    .twoN {
      left: 47.1% !important;
    }
  }
}
@media screen and (max-width:425px) {
  .chartGreen, .chartOrange, .chartYellow, .chartBlue   {
    span {
      left: 48.1% !important;
    }

    .twoN {
      left: 46.3% !important;
    }
  }
}
@media screen and (max-width:375px) {
  .chartGreen, .chartOrange, .chartYellow, .chartBlue   {
    .twoN {
      left: 45.6% !important;
    }
  }
}
@media screen and (min-width:992px) {
  #chartRadar {
    max-width:360px;
    max-height: 360px;
    margin-left: 7.5%;

  }
}
