// website Themes color

  [data-default-color="green"] .skin-color {
    color:#3D9970!important;
  }
  [data-default-color="green"] .skin-background {
    background-color:#3D9970!important;
    color:#fff!important;
  }
  [data-default-color="green"] .borderColor {
    border-color:#3D9970!important;
  }
  [data-default-color="green"] #chartRadarGreen, [data-default-color="green"] .chartGreen  {
  display: block!important;
  }
  [data-default-color="green"] .hover:hover, [data-default-color="green"] .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color:#3D9970!important;
    @include transition(0.35s);
  }
  [data-default-color="green"] .navbar-nav a:hover span:last-child:after {
    width: 100%;
    background: #3D9970;
  }

  [data-default-color="orange"] .skin-color {
    color:#ee6817!important;
  }
  [data-default-color="orange"] .skin-background {
    background-color:#ee6817!important;
    color:#fff!important;
  }
  [data-default-color="orange"] .borderColor {
    border-color:#ee6817!important;
  }
  [data-default-color="orange"] #chartRadarOrange, [data-default-color="orange"] .chartOrange {
    display: block!important;
  }
  [data-default-color="orange"] .hover:hover, [data-default-color="orange"] .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color:#ee6817!important;
    @include transition(0.35s);
  }
  [data-default-color="orange"] .navbar-nav a {
   @include transition(0.35s);
   &:hover {
     color: #ee6817!important;
   }
 }
 [data-default-color="orange"] .navbar-nav a:hover span:last-child:after {
   width: 100%;
   background: #ee6817;
   z-index: 9999;
 }

  [data-default-color="yellow"] .skin-color {
    color:#F1C40F!important;
  }
  [data-default-color="yellow"] .card, [data-default-color="yellow"] .modal-content, [data-default-color="orange"] .card, [data-default-color="orange"] .modal-content{
    background:#34495E!important;
  }
  [data-default-color="yellow"] .skin-background {
    background-color:#F1C40F!important;
    color:#fff!important;
  }
  [data-default-color="yellow"] .skin-hover:hover, [data-default-color="yellow"] .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color:#F1C40F!important;
    background: rgba(255, 255, 255, 0.38) !important;
    @include transition(0.35s);
  }

  [data-default-color="yellow"] .hover:hover {
    color:#F1C40F!important;
    @include transition(0.5s);
  }
  [data-default-color="yellow"] .borderColor {
    border-color:#F1C40F!important;
  }
  [data-default-color="yellow"] #chartRadarYellow, [data-default-color="yellow"] .chartYellow {
    display: block!important;
    }
  [data-default-color="yellow"] .skills .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.2);
    top: -5px;
}
   [data-default-color="yellow"] .navbar-nav a {
    @include transition(0.35s);
    &:hover {
      color: #F1C40F!important;
    }
  }
  [data-default-color="yellow"] .navbar-nav a:hover span:last-child:after {
    width: 100%;
    background: #F1C40F;
  }
  [data-default-color="yellow"]  .card
  {
    &::before,&::after {
      background: rgba(153, 153, 153, 0.51);
      transition: transform 0.3s ease-out 0s;
    }
  }

  [data-default-color="blue"] .skin-color {
    color:#2196F3!important;
  }
  [data-default-color="blue"] .skin-background {
    background-color:#2196F3!important;
    color:#fff!important;
  }
  [data-default-color="blue"] .hover:hover ,[data-default-color="blue"] .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color:#2196F3!important;
    @include transition(0.35s);
  }
  [data-default-color="blue"] .borderColor {
    border-color:#2196F3!important;
  }
  [data-default-color="blue"] #chartRadarBlue, [data-default-color="blue"] .chartBlue {
    display: block!important;
  }
  [data-default-color="blue"] .navbar-nav a {
   @include transition(0.35s);
   &:hover {
     color: #2196F3!important;
   }
 }
 [data-default-color="blue"] .navbar-nav a:hover span:last-child:after, a:active span:last-child:after {
   width: 100%;
   background: #2196F3;
 }
