$main-color: #7dba5c;
// $body-color: $blue!default;

$blue: #00ADB5;
$black: #252A34;
$red: #F38181;
$white: #e0e0e0;
$darkBlue: #2B2E4A;
$orange: #E84545;
$darkRed: #903749;
$brown: #53354A;
$green: #7dba5c;
